*.pyc
*~
*.bak

## Added for PyCharm
*.iml
.idea/

## For Data
*.table
storage*
*.db
*.config
results/*
!results/README.md
libs/

## web2py
progress.log
cache/*
databases/*
errors/*
sessions/*

## Personal data
*credentials*
notes/*

## For outputs
*outfile*
